<!DOCTYPE html>
<html {# class='dark' #}>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}PoznejPovolani-cloud
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			tailwind.config = {
darkMode: 'class'
}
		</script>
	</head>

	<body class="bg-gray-100 text-gray-800 m-10 dark:bg-gray-800 dark:text-white">
		<div class="w-full md:w-2/3 mx-auto">
		{% block bread %}{% endblock %}
			{% for message in app.flashes('success') %}
				<div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">
					{{message}}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
		<script src="{{ asset('js/webinarForm.js') }}"></script>
	</body>
</html>
