{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block bread %}
	<div class="text-center mb-10">
		<a href="{{ path('admin') }}">Dashboard</a>
		→
		<a href="{{ path('add') }}">Add New Webinar</a>
	</div>
{% endblock %}


{% block body %}
	{{ include('admin/_webinar-form.html.twig')}}
{% endblock %}
